<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Integrations</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-3">
    Slack
  </div>
  <div class="col-lg-9">
    <%= link_to 'Setup', new_slack_integration_path, class: 'btn btn-primary' %>
  </div>
  <!-- /.col-lg-12 -->
</div>
